.galeria {
    /* Agrega aqu ́ı las propiedades de Grid */
    grid-template-columns: 8ch auto;
    gap: 1rem;
    padding: 1rem;
}
.obra {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}
.obra img {
    max-width: 100%;
}