nav ul {
    list-style-type: none;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 100%;
    color: white
}
li:hover a {
    size: 2em;
    color: aquamarine;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration-line: none;
    padding: 20px;
}
main {
    background-color: lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.galeria {
    /* Agrega aqu ́ı las propiedades de Grid */
    display: grid;
    grid-template-columns: 250px 250px 250px;
    width: 250px;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.obra {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    color: black;

}


.obra img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.obra:hover {
    size: 30px;
    color: aquamarine;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: aliceblue;
    
}
