p{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50px #000;
    text-align: center;
}

#izquierda{
    text-align: left;
    color: rgb(105, 105, 28);
    background-color: aliceblue;    
}

#centro{
    text-align: center; 
    color: blue;
    background-color: beige;
}

#derecha{
    text-align: right; 
    color: red;
    background-color: blanchedalmond;
}
