


/*EJERCICIO 5*/

main{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

.parrafos p{
    display: inline-table;
    width: 200px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    align-content: center;
    line-height: 1.5;  /*Legibilidad en espaciado*/
    block-size: auto;
}

#izquierda{
    text-align: left;
    color: rgb(105, 105, 28);
    background-color: aliceblue;  
    font-size: 16px;  
}

#centro{
    text-align: center; 
    color: blue;
    background-color: beige;
    font-size: 14px; 
}

#derecha{
    text-align: right; 
    color: red;
    background-color: blanchedalmond;
    font-size: 10px; 
}

#izquierda:hover{
    background-color: cadetblue;
}

#centro:hover{
    background-color: rgb(139, 230, 214);
}

#derecha:hover{
    background-color: rgb(11, 12, 12);
}