main{
    text-align: center;
}

p{
    display: inline-block;
    width: 200px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    align-content: center;
}

#izquierda{
    text-align: left;
    color: rgb(105, 105, 28);
    background-color: aliceblue;    
}

#centro{
    text-align: center; 
    color: blue;
    background-color: beige;
}

#derecha{
    text-align: right; 
    color: red;
    background-color: blanchedalmond;
}

#izquierda:hover{
    background-color: cadetblue;
}

#centro:hover{
    background-color: rgb(23, 122, 106);
}

#derecha:hover{
    background-color: rgb(11, 12, 12);
}