@media (max-width: 699px) {

    .footer {

        background-color: var(--color-primario);
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        font-size: clamp(1em, 3vw, 1em);         
        text-transform: capitalize;
        color: var(--color-inverso);
        padding: 0px;
        margin: 0;

    }
    .footer-content a{
        color: var(--color-texto);
        font-size: clamp(1.2em, 5vw, 1em);
    }

    .h2-footer {
        background-color: var(--color-secundario);
        
        margin-top: 10px;
        
    }
    .copyright {
        background-color: var(--color-secundario);
        display: block;
        justify-content: center;
        text-align: center;
        border-top: solid 3px white;
        padding: 10px;
        margin: 0;
    }
    
    
}


@media (min-width: 700px) {
    .footer {
        background-color: var(--color-primario);
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100vw;
        font-size: 1.2em;
        text-transform: capitalize;
        color: var(--color-inverso);
        padding: 20px;
        margin: 0;
    }

    .footer-content {
        display: flex;
        flex-direction: row; 
        flex-grow: 1;
        margin-right: 20px;
        width: 100%
    }

    .footer-content a {
        color: var(--color-texto);
        font-size: 1em;
        margin: 5px 0;
        text-decoration: none;
        transition: color 0.3s;
    }

    .footer-content > * { 
        flex: 1; 
        text-align: center; 
        padding: 10px; 
    }

    .footer-content a:hover {
        color: var(--color-secundario);
    }

    .h2-footer {
        background-color: var(--color-secundario);
        font-size: 1.5em;
        padding: 10px;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .copyright {
        background-color: var(--color-secundario);
        text-align: center;
        border-top: solid 3px white;
        padding: 15px 0;
        margin: 0;
        font-size: 1em;
    }
}