body{
    background: #f5f5f5;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

form {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    transition: background-color 0.3s, border-color 0.3s;
}

label {
    display: inline-block;;
    margin-top: 0;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.checkbox-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.checkbox-container input {
    width: auto;
    margin-right: 10px;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4CAF50;
}

/* Estilos del Interruptor de Modo Oscuro */
.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-label .sun-moon {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

#toggle-button {
    display: none;
}

#toggle-button:checked + .toggle-label {
    background-color: #66bb6a;
}

#toggle-button:checked + .toggle-label .sun-moon {
    transform: translateX(25px);
}

/* Modo Oscuro */
body.dark-mode {
    background: #121212;
    color: #e0e0e0;
}

form.dark-mode {
    background-color: #1e1e1e;
    border-color: #333;
}

label.dark-mode, h2.dark-mode {
    color: #bbbbbb;
}

input.dark-mode, select.dark-mode, textarea.dark-mode {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

button.dark-mode {
    background-color: #444;
}

button.dark-mode:hover {
    background-color: #666;
}