body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;

}
header {
    display: flex;
    align-items: center;
    background-color: rgb(18, 164, 231);
    justify-content: space-between;
    height: 90px;
    padding: 10px;
    
}
.logo{
    display: flex;
    align-items: center;

}

.logo-img {
    height: 70px;
    margin-right: 10px;

}

.logo-slogan{
    color: rgb(255, 255, 255);
}
footer {
    background-color: rgb(18, 164, 231);
    display: flex;
    align-items: start;
    height: 200px;
    justify-content: space-between;
    padding: 10px;
}

footer h2{
    color: white;
}

section {
    display: flex;   
    justify-content: space-between;
    

}
#comentarios h2 {
    padding: 10px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 0;
}
form {
    max-width: 600px;
    margin: 10px ;
    padding: 20px;
    padding-right: 30px;
    border: 3px solid rgb(23, 150, 223);
    background-color: white;
}
label {
    display: block;
    margin-top: px ;
    margin: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin: 00px;
    
}
#asunto{
    padding: 20px;
}
#boton {
    width: 50%;
    background-color: darksalmon;
    padding: 8px;
    text-align: center;
}
