body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;

}
header {
    display: flex;
    align-items: center;
    background-color: rgb(18, 164, 231);
    justify-content: space-between;
    height: 90px;
    padding: 10px;
    
}
.logo{
    display: flex;
    align-items: center;

}

.logo-img {
    height: 70px;
    margin-right: 10px;

}

.logo-slogan{
    color: rgb(0, 255, 136);
}
footer {
    background-color: rgb(18, 164, 231);
    display: flex;
    align-items: start;
    height: 300px;
    justify-content: space-between;
}

footer h2{
    color: white;
}
