<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/Proyecto%20Final/login.css">
</head>

<body>
<div class="container">
    <h1>Login</h1>
    <form id="loginForm">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p><a href="/register">No tienes una cuenta? Regístrate</a></p>
    <p id="message"></p>
</div>
<script src="./validar.js"></script>
</body>
</html>